
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 79px;
}

.appHeader {
  background-color:#E01;
  padding: 20px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.borderForm{
  border: 1px solid gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tabWidth{
  max-width: 10px !important;
}

.loginBox{
  border: 1px solid lightgray;
  font-size: 24px;
  text-align: center;
  margin: 20%;
}
.loginHeader{
  padding: 10px;
  background: #e01;
  color: #ffffff;
}
.loginBtn{
  background: #000000;
  border-radius: 3px;
  border: none;
  width:100px;
  padding: 10px;
  margin-bottom:10px;
  color: white;
  font-size: 16px; 
  text-decoration: none;
  margin: 15px;
                          
}
.customerForm{

  margin: 3%;
  border: 1px solid lightgray;
  font-weight: bold;
  font-size: 20px;
}
.datePickerClass {
  height: 20px;
  width: 300px;
  margin-top: 24px;
  float: left;
}
.radioButtonLabel {
  padding: 29px 0px 0px 0px;
  float: left;
}