.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 79px;
}

.App-header {
  background-color:#E01;
  padding: 20px;
  color: white;
  font-size: 24px;
}

.borderForm{
  border: 1px solid gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tabWidth{
  max-width: 10px !important;
}

.borderForm {
  border: 1px solid gray;
}

.customerForm{
  font-weight: bold;
  margin-top: 20px !important;
  font-size: 20px;
  text-align: center;
}
.datePickerClass {
  height: 20px;
  width: 300px;
  margin-top: 24px;
  float: left;
}
.radioButtonLabel {
  padding: 29px 0px 0px 0px;
  float: left;
}